<nav class="bg-white" id="main_nav_login">
      <a href="/" id="main_nav_brand" class="ms-2 ps-1">FaceID</a>
         <div class=" d-flex align-items-center align-items-lg-start px-2 py-1">
            <a class="nav-link py-2 px-3 me-2 me-lg-3" href="{{url_for('login')}}" data-value="login">Login</a>
            <button class="nav-link border-0 dropdown-toggle py-2 px-3" data-bs-toggle="dropdown" data-value="daftar" id="daftar_button">Daftar</button>
            <div class="dropdown-menu dropdown-menu-end mt-3 p-2 shadow" id="dropdown_menu">
               <a href="{{url_for('daftar_mahasiswa')}}" class="nav-link dropdown-item text-center mb-2 py-1" data-value="daftar_mahasiswa">Mahasiswa</a>
               <a href="{{url_for('daftar_orang_tua')}}" class="nav-link dropdown-item text-center mb-2 py-1" data-value="daftar_orang_tua">Orang Tua</a>
               <a href="{{url_for('daftar_dosen')}}" class="nav-link dropdown-item text-center mb-2 py-1" data-value="daftar_dosen">Dosen</a>
            </div>
         </div>
      </div>
   </div>
</nav>