body {
   font-family: sans-serif;
}

table td,
table th {
   vertical-align: middle;
}

.mb-05 {
   margin-bottom: .4rem;
}

.cursor-pointer:hover {
   cursor: pointer;
}

#modal_profile_pic img {
   width: 100%;
}

.form-div-top-left {
   padding-top: .3rem;
   padding-bottom: .3rem;
   border-left: 1px solid rgba(255, 255, 255, 0.4);
   border-top: 1px solid rgba(255, 255, 255, 0.4);
   border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.form-div-top-right {
   padding-top: .3rem;
   padding-bottom: .3rem;
   border-right: 1px solid rgba(255, 255, 255, 0.4);
   border-top: 1px solid rgba(255, 255, 255, 0.4);
   border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.form-div-mid-left {
   padding-top: .3rem;
   padding-bottom: .3rem;
   border-left: 1px solid rgba(255, 255, 255, 0.4);
   border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.form-div-mid-right {
   padding-top: .3rem;
   padding-bottom: .3rem;
   border-right: 1px solid rgba(255, 255, 255, 0.4);
   border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.title-jadwal-kegiatan {
   display: inline-block;
   padding-bottom: .1rem;
   border-bottom: 1px solid rgba(255, 255, 255, 0.69);
}

.link-pembuat-jadwal {
   padding: .5rem 0;
   text-decoration: none;
}

.td_ruangan_bdk {
   max-width: 200px;
   /* Set maximum width for the table cells */
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.editable_first {
   width: 90%;
}

.editable_second {
   width: 10%;
   display: flex;
   justify-content: center;
}

.navbar {
   background-color: rgb(250, 250, 250) !important;
}

/* .link-pembuat-jadwal:hover {
   text-decoration: underline;
} */

.darkmode- {
   background-color: #dfdfdf !important;
   color: black !important;
}

.darkmode- h6,
.darkmode- .h6,
.darkmode- h5,
.darkmode- .h5,
.darkmode- h4,
.darkmode- .h4,
.darkmode- h3,
.darkmode- .h3,
.darkmode- h2,
.darkmode- .h2,
.darkmode- h1,
.darkmode- .h1,
.darkmode- a,
.darkmode- p,
.darkmode- .display-link,
.darkmode- label,
.darkmode- div {
   color: black !important;
}

.url-aktivitas-mahasiswa {
   text-decoration: none;
   border-bottom: 2px solid rgb(21, 21, 21);
}

.url-aktivitas-mahasiswa:hover {
   border-color: rgb(105, 105, 105);
}

.darkmode- .btn-secondary,
.darkmode- .btn-success {
   color: rgb(255, 255, 255) !important;
}

.darkmode- .btn-success:hover {
   color: rgb(255, 255, 255) !important;
}

.darkmode- .navbar {
   background-color: rgb(255, 255, 255) !important;
}

.btn-secondary {
   background-color: rgb(130, 130, 130) !important;
   border-color: rgb(130, 130, 130) !important;
}

.btn-secondary:hover {
   background-color: rgb(100, 100, 100) !important;
   border-color: rgb(100, 100, 100) !important;
}

.btn-secondary:active {
   background-color: rgb(80, 80, 80) !important;
   border-color: rgb(80, 80, 80) !important;
}

.darkmode- .event-yellow {
   background-color: #10a87d;
   border-color: #0f8463;
}

.darkmode- .event-yellow:hover {
   background-color: #0f906b;
   border-color: #0b644b;
}

.darkmode- .event-purple {
   background-color: #69076e;
   border-color: #740b71;
}

.darkmode- .event-purple:hover {
   background-color: #56075a;
   border-color: #550952;
}

.darkmode- .keterangan_warna {
   background-color: #10a87d !important;
   border-color: #0f8463;
}

.darkmode- .keterangan_warna_2 {
   background-color: #69076e !important;
   border-color: #740b71;
}

.alert-input-danger {
   border-color: #e88b8b !important;
   outline: 0 !important;
   box-shadow: 0 0 0 0.25rem rgba(227, 108, 108, 0.25) !important;
}

#table_history_aktivitas tr:hover td {
   cursor: pointer;
   background-color: rgb(238, 255, 186);
}

#table_buffer tr:hover td {
   cursor: pointer;
   background-color: rgb(238, 255, 186);
}

#table_dosen_jadwal tr:hover td {
   cursor: pointer;
   background-color: rgb(238, 255, 186);
}

.darkmode- .event-white {
   background-color: rgb(40, 129, 77) !important;
   border-color: rgb(79, 177, 120) !important;
}

.darkmode- .fc .fc-daygrid-day.fc-day-today {
   background-color: rgb(195 169 39 / 36%);
}

.darkmode- a:hover {
   color: rgb(97, 97, 97) !important;
}

.darkmode- .fc-theme-standard td,
.darkmode- .display-inside,
.darkmode- .active-display,
.darkmode- .non-active-display,
.darkmode- .fc-theme-standard .fc-scrollgrid,
.darkmode- .fc-theme-standard td,
.darkmode- .fc-theme-standard th,
.darkmode- div.border {
   border-color: black !important;
}

.darkmode- .title-jadwal-kegiatan {
   border-color: rgba(0, 0, 0, 0.69);
}

.darkmode- .form-div-top-left,
.darkmode- .form-div-top-right,
.darkmode- .form-div-mid-left,
.darkmode- .form-div-mid-right {
   border-color: rgba(0, 0, 0, 0.4);
}

.card-jadwal {
   font-size: .9rem;
   border: 3pt solid;
   width: 100%;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card-jadwal:hover {
   background-color: rgb(243, 243, 243) !important;
}

.w-75 {
   width: 75%;
}

.w-30 {
   width: 35%;
}


.border-red {
   border-color: red;
}

.border-blue {
   border-color: rgb(25, 64, 255);
}

.border-green {
   border-color: rgb(43, 203, 43);
}

.keterangan_warna {
   width: 25px;
   border-radius: 10%;
}

.my-nav-link {
   background-color: white;
   color: black;
   text-decoration: none;
}

.mytd:hover {
   cursor: pointer;
   color: green;
}

.collapsible-content {
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
}

#pengguna {
   list-style-type: none;
   display: flex;
   justify-content: space-evenly;
}

#login_box {
   max-width: 600px;
}

.nav-item {
   margin: 0 .5rem;
}

#button_edit:hover {
   background-color: #ce9e0c;
   border-color: #bf9311;
   color: white;
}

#button_exit:hover {
   background-color: #ac0505;
   border-color: #780d0d;
   color: white;
}

.link-profile-table {
   color: black;
   text-decoration: none;
}

nav .active {
   border-radius: 5pt;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.link-profile-table:hover {
   cursor: pointer;
}

.mypt {
   padding-top: 13px !important;
}

.link-lihat-table {
   color: rgb(16, 131, 53);
}

.link-lihat-table:hover {
   color: rgb(3, 65, 23);
}

.link-profile-table-2 {
   color: white;
   text-decoration: none;
}

.link-profile-table-2:hover {
   color: rgb(53, 174, 91);
}

.alert {
   margin-left: .8rem;
   margin-right: .8rem;
}

.darkmode- .link-alert,
.link-alert {
   color: #1b9042 !important;
}

.darkmode- .link-alert:hover,
.link-alert:hover {
   color: rgb(15, 108, 44) !important;
}

.darkmode- .text-warning {
   color: rgb(255, 106, 0) !important;
}

.darkmode- .btn-warning {
   background-color: rgb(255, 106, 0);
   color: white;
}

.darkmode- .btn-warning:hover {
   background-color: rgb(195, 81, 0) !important;
}

.input-foto-akun {
   display: none;
}

.container-foto-akun {
   position: relative;
}

.display-foto-akun {
   position: relative;
   z-index: -1;
}

table tr td {
   color: black;
}

.label-foto-akun {
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   text-align: center;
   z-index: 2;
   left: 0;
   top: 0;
   bottom: 0;
   height: 100%;
   width: 100%;
   color: transparent;
}

.darkmode- .label-foto-akun {
   color: transparent !important;
}

.darkmode- .label-foto-akun:hover {
   color: white !important;
}

.label-foto-akun:hover {
   background-color: #1e252b83;
   color: white;
}

#main_nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: .4rem 1.7rem !important;
}

.bdk-right,
.bdk-left {
   padding-left: 3rem !important;
   padding-right: 3rem !important;
}

@media (min-width: 992px) {
   .border-lg-start {
      border-left: 1px solid white;
   }

   .bdk-left {
      padding-left: 4.5rem !important;
      padding-right: 1rem !important;
   }

   .bdk-right {
      padding-left: 1rem !important;
      padding-right: 4.5rem !important;
   }

   #main_nav {
      padding: .6rem 1.7rem !important;
   }
}



#main_nav_dosen {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: .8rem 1.7rem !important;
}

#main_nav_login {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: .7rem 1.7rem !important;
}

#main_nav_brand {
   text-decoration: none;
   color: black;
   font-size: 15pt;
}

#form_div .col {
   font-size: 10pt;
}

.row-mhs-bio {
   padding-bottom: .25rem;
}

.row-mhs-bio div:nth-child(1) {
   width: 30%;
}

.row-mhs-bio div:nth-child(2) {
   width: 7%;
   text-align: center;
}

#table_buffer th {
   text-align: center;
   border-right: 1px solid rgb(144, 144, 144);
}

#table_buffer tr {
   border-top: 1px solid rgb(144, 144, 144);
}

#table_buffer td {
   border-right: 1px solid rgb(144, 144, 144);
}

#table_buffer {
   margin-bottom: 1rem;
}


@media (max-width: 400px) {}

/* Small */
@media (max-width: 578px) {
   #button_edit {
      padding: .3rem !important;
   }

   #profile_pic_mhs {
      width: 75;
      height: 80;
   }

   #col_mhs_bio p {
      margin-bottom: .5rem;
   }

   #table_berada_di_kampus {
      font-size: 6pt;
   }

   .fc-toolbar-chunk:last-of-type {
      display: flex;
      justify-content: end;
      width: 200px;
      font-size: 10pt;
   }

   .dropdown-item {
      font-size: 11pt;
   }

   .table {
      font-size: 10pt;
   }

   div {
      font-size: 11pt;
   }

   h6,
   .h6 {
      font-size: 0.9rem;
   }

   .row-mhs-bio {
      padding-bottom: 1px;
   }
}

.bright-primary {
   color: rgb(164, 231, 179);
}

.bright-primary:hover {
   color: rgb(94, 177, 115);
}

#profile_pic_mhs {
   max-height: 110px;
   object-fit: contain;
   cursor: pointer;
}

@media (max-width: 992px) {

   #table_berada_di_kampus {
      font-size: 8pt;
   }

   #form_hapus_jadwal {
      border-bottom: 1px solid rgb(178, 178, 178);
   }
}

#spinner_container {
   background-color: #000000c3;
   position: fixed;
   z-index: 100000;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   transition: opacity 0.75s, visibility 0.75s;
}

.progress-container {
   background-color: #000000c3;
   position: fixed;
   z-index: 100000;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   transition: opacity 0.75s, visibility 0.75s;
}

.spinner--hidden {
   opacity: 0;
   visibility: hidden;
}


.active-display {
   border: 1px solid white;
   border-bottom: 0;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}

.non-active-display {
   border-bottom: 1px solid white;
}

.display-link {
   text-decoration: none !important;
   color: white !important;
   cursor: text;
}

.display-link-unactive {
   color: rgb(188, 188, 188) !important;
   cursor: pointer;
}

.display-link-unactive:hover {
   color: white !important;
}

.display-inside {
   border: 1px solid white;
   border-top: 0;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
}

.event-blue,
.event-green,
.event-yellow,
.event-orange,
.event-purple,
.event-white {
   margin: .18rem .5rem !important;
   height: 17px;
}

.event-blue {
   background-color: rgb(25, 148, 255);
}

.event-blue:hover {
   background-color: rgb(18, 104, 180);
   cursor: pointer;
}

.event-green {
   background-color: rgb(43, 203, 43);
}

.event-green:hover {
   background-color: rgb(28, 129, 28);
   cursor: pointer;
}

.event-yellow {
   background-color: yellow;
   border-color: yellow;
}

.event-yellow:hover {
   background-color: rgb(156, 156, 2);
   border-color: rgb(156, 156, 2);
   cursor: pointer;
}

.event-white {
   background-color: rgb(222, 222, 222);
   border-color: rgb(222, 222, 222);
}

.event-white:hover {
   background-color: rgb(157, 157, 157);
   border-color: rgb(136, 136, 136);
   cursor: pointer;
}

.event-orange {
   background-color: rgb(242, 4, 4);
   ;
}

.event-orange:hover {
   background-color: rgb(149, 11, 11);
   ;
   cursor: pointer;
}

.event-purple {
   background-color: rgb(171, 4, 242);
   ;
}

.event-purple:hover {
   background-color: rgb(116, 5, 164);
   ;
   cursor: pointer;
}

/* .fc .fc-daygrid-day-frame {
   height: 140px;
} */

.button-kuning {
   color: yellow;
}

.button-kuning:hover {
   color: rgb(158, 158, 0);
}

.popper,
.tooltip {
   position: absolute;
   z-index: 9999;
   background: #dfdfdf;
   color: black;
   width: 220px;
   border-radius: 3px;
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
   padding: 10px;
   text-align: center;
}

.style5 .tooltip {
   background: #1E252B;
   color: #FFFFFF;
   max-width: 200px;
   width: auto;
   font-size: .8rem;
   padding: .5em 1em;
}

.popper .popper__arrow,
.tooltip .tooltip-arrow {
   width: 0;
   height: 0;
   border-style: solid;
   position: absolute;
   margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
   border-color: #dfdfdf;
}

.style5 .tooltip .tooltip-arrow {
   border-color: #1E252B;
}


.fc-daygrid-event-dot {
   all: unset;
}

.dataTables_filter {
   margin-bottom: 1rem;
}

.card-profil {
   max-width: 700px;
}

#tableHasil_profile tbody tr {
   cursor: pointer;
}

#tableHasil_wrapper,
#tableHasil_profile_wrapper,
#tableHasil,
#tableHasil_profile {
   font-size: .9rem;
}

#table_berada_di_kampus tbody tr td a,
#tableHasil tbody tr td a {
   color: rgb(17, 17, 22);
}

#table_berada_di_kampus tbody tr td a:hover,
#tableHasil tbody tr td a:hover {
   color: rgb(104, 104, 134);
}

.td-elipsis {
   display: inline-block;
   white-space: nowrap;
   width: 300px;
   overflow: hidden;
   text-overflow: ellipsis;
}

/* Tooltip text */
.td-elipsis .tooltiptext {
   visibility: hidden;
   width: fit-content;
   text-align: center;
   padding: 0 5px 5px;
   border-radius: 6px;

   /* Position the tooltip text - see examples below! */
   position: absolute;
   left: 182px;
   z-index: 1;
}

.td-elipsis .tooltiptext div {
   background-color: #f7f7f7;
}

/* Show the tooltip text when you mouse over the tooltip container */
.td-elipsis:hover .tooltiptext {
   visibility: visible;
}

select[name="tableHasil_profile_length"] option {
   color: black;
}

.dropdown-item.active,
.dropdown-item:active {
   color: black;
   text-decoration: none;
   background-color: white;
}

#modal_buat_jadwal .modal-content {
   width: 600px;
}

#button_div {
   /* position: absolute; */
   display: flex;
   justify-content: end;
   padding: 0 2rem;
   /* position: absolute; */
   /* right: 0; */
}

@media only screen and (max-width: 768px) {
   #button_div {
      padding: 0 1rem;
   }

   #modal_buat_jadwal .modal-content {
      width: 400px;
   }

   #foto_profil_div {
      width: 0 !important;
   }

   #text_div_profil {
      width: 100% !important;
   }
}

@media only screen and (max-width: 410px) {
   #modal_buat_jadwal .modal-content {
      width: 370px;
   }
}

#foto_profil_div {
   width: 25%;
}

.w-70 {
   width: 70%;
}

.modal-dialog-konfirmasi {
   --bs-modal-width: 600px !important;
}