{% extends "boilerplate/base.html" %}
{% block title %}Daftar{% endblock %}
{% block content %}
{% include "partials/navbar.html" %}
   <div class="container">
      <div class="p-2 mt-2 p-md-4 mx-auto" id="login_box">
         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}   
               {% for category, message in messages %}
                  <div class="alert alert-{{category}} mb-3 mx-0 alert-dismissible show fade" role="alert">
                     <p class="mb-0 text-break">{{ message }}</p>
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
               {% endfor %}
            {% endif %}
         {% endwith %}
         <form method="post" action="{{ url_for('daftar_dosen') }}" class="p-3 p-md-4 rounded shadow-sm bg-white">
            {{ form.hidden_tag() }}
            <h4 class="card-title mb-3">Daftar Akun Dosen</h4>
            <div class="mb-3">
               {{ form.nama.label(class='form-label mb-0') }}  {{ form.nama(class='form-control') }}
            </div>
            <div class="mb-3">
               {{ form.nip.label(class='form-label mb-0') }}  {{ form.nip(class='form-control') }}
            </div>
            <div class="mb-3">
               {{ form.email.label(class='form-label mb-0') }}  {{ form.email(class='form-control') }}
            </div>
            <div class="mb-3">
               {{ form.username.label(class='form-label mb-0') }}  {{ form.username(class='form-control', onkeyup="input_username(event.target)", pattern="^\S+$") }}
            </div>
            <div id="alert_username" class="alert alert-danger mb-3 mx-0 text-center d-none" role="alert">
               <span>Username tidak boleh menggunakan spasi!</span>
            </div>
            <div class="mb-3">
               {{ form.password.label(class='form-label mb-0') }}
               <div class="input-group">
                  {{ form.password(class='form-control password_input')}}
                  <button type="button" class="btn btn-outline-secondary" onclick="reveal_pass_btn(event.target)">
                     <i class="pass_reveal_btn fa-solid fa-eye-slash"></i>
                  </button>
               </div>
            </div>
            <div class="mb-3">
               {{ form.konfirmasi_password.label(class='form-label mb-0') }}
               <div class="input-group">
                  {{ form.konfirmasi_password(class='form-control password_input', id="konf_pass_input") }}
                  <button type="button" class="btn btn-outline-secondary" onclick="reveal_pass_btn(event.target)">
                     <i class="pass_reveal_btn fa-solid fa-eye-slash"></i>
                  </button>
               </div>
            </div>
            <div id="alert_konfirmasi_password" class="alert alert-danger mb-3 mx-0 text-center d-none" role="alert">
               <span>Konfirmasi Password tidak sesuai!</span>
            </div>
            <div class="d-flex justify-content-center">
               {{ form.daftar(class='btn btn-primary align-self-center shadow-sm') }}
            </div>
         </form>
      </div>
   </div>
{% endblock content %}