certifi==2026.1.4
charset-normalizer==3.4.4
CTkMessagebox==2.7
CTkTable==1.1
customtkinter==5.2.2
darkdetect==0.8.0
dlib==20.0.0
dnspython==2.8.0
idna==3.11
motor==3.7.1
nest-asyncio==1.6.0
Nuitka==2.8.9
numpy==2.2.6
opencv-python==4.12.0.88
ordered-set==4.1.0
packaging==25.0
pillow==12.1.0
pygame==2.6.1
pymongo==4.15.5
requests==2.32.5
tkinter-tooltip==3.1.2
urllib3==2.6.2
zstandard==0.25.0
